$primaryBckColor: #E5E5E5;
$secondaryBckColor: #F0F0F0;
$primaryColor: #1D2123;
$warningColor: #ED008C;
$warningGreen: #6FCF97;
$warninBlack: #333333;
$warningColorGray: #E0E0E0;
$secondaryGray: #828282;
$warningGray: #BDBDBD;
$inputGray: #F2F2F2;
